mpir.lib
mpir.dll

*.o

# Generated MOC, resource and UI files
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

Makefile
femton
femton.pro.user
.qmake.stash

*.fem
/_tidigare
*.autosave

src/debug
src/release
src/out

Makefile.Debug
Makefile.Release

*.png

*.qua

femton.pro.user.4.8-pre1

ffmpeg.exe
ffmpeg.bat